* {
    padding: 0;
    margin: 0;
    font-family: poppins;
}

html,
body {
    overflow-x: hidden;
}

/* Banner */
.banner-img {
    background-image: url(../img/banner/fp-contact.jpg);
    background-size: cover;
    width: 100%;
    height: 350px;
}

.banner-img h2 {
    font-size: 90px;
    color: white;
    text-align: center;

}

.name input[type="text"] {
    width: 250px;
    height: 35px;
    margin-right: 10px;
    border: 1.4px solid #ff2b85;
    border-radius: 8px;
    padding-left: 20px;
    margin-bottom: 20px;

}

.email input[type="email"] {
    width: 537px;
    height: 35px;
    margin-right: 10px;
    border: 1.4px solid #ff2b85;
    border-radius: 8px;
    padding-left: 20px;
    margin-bottom: 20px;

}

textarea {
    resize: none;
    width: 554px;
    height: 100px;
    border: 1.4px solid #ff2b85;
    border-radius: 8px;

}

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left {
    margin-left: 30px;
}

.left p {
    padding-bottom: 5px;
}

.left h2 {
    font-size: 40px;
    padding-bottom: 40px;
}

.contact {
    padding-top: 100px;
}

button {
    padding: 8px;
    background-color: #ff2b85;
    border-radius: 40px;
    border: 1px solid #ff2b85;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
}

.contact .left button {
    display: block;
    margin: 20px auto 0;
}

button:hover {
    background-color: #ED66A0;
    cursor: pointer;
}

/* Announcement */
.anc {
    background-color: #f5f5f6;
    margin-top: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.anc p {
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
}

.anc p span {
    font-weight: 700;
}

/* Desktop Responsiveness */
@media (min-width: 993px) {

    .banner,
    .contact,
    .anc {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact {
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 50px;
        flex-direction: row;
        justify-content: space-between;
        gap: 80px;
    }

    .banner-img {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-img h2 {
        font-size: 80px;
    }

    .left {
        flex: 1;
        max-width: 600px;
    }

    .right {
        flex: 1;
        max-width: 500px;
    }

    .right img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
}