*{
    padding: 0;
    margin: 0;
}
/* Nav Bar */
nav{
    font-family: poppins;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-top: 14px;
    padding-bottom: 14px;
    position: sticky;
    z-index: 999;
    top: 0;
    background-color: white;
}
.nav-logo img{
    margin-left: 80px;
}
.nav-item{
    margin-left: auto;
    margin-top: -5px;
}
.nav-item ul{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    margin-right: 30px;
}
.nav-item ul li{
    list-style: none;

}
.nav-item ul li a{
    text-decoration: none;
    color: black;
}
.button button{
    margin-top: -5px;
    padding: 10px;
    background-color: #ff2b85;
    border: 1px solid #ff2b85;
    border-radius: 30px;
    font-weight: 600;
    color: white;
    font-size: 15px;
    width: 150px;
    height: 42px;
    margin-right: 25px;
}
.nav-icon i{
 margin-right: 45PX;
 font-size: 20px;
 margin-top: -5px;
 
}


/* Hero Sec */
video {
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: -250px;
}
.video-banner div {
    color: white;
  margin-top: -370px;
  z-index: 500;
  position: relative;
  font-size: 50px;
  font-family: poppins;
  line-height: 92px;
  margin-left: 50px;
}

/* banner-para */
.banner-para{
    background-color: white;
    height: 480px;
}

.banner-para p{
    color: black;
    padding-top: 170px;
    font-size: 40px;
    font-family: poppins;
    font-weight: 700;
    line-height: 50px;
    margin-left: 50px;
}

/* About Sec */
.abt-left{
    margin-left: 50px;
}
.about{
    display: flex;
    gap: 60px;
    padding-top: 30px;
}

.abt-right h2{
    font-size: 40px;
    font-family: poppins;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 20px;
}
.abt-right p{
    font-size: 18px;
    font-family: poppins;
    padding-bottom: 20px;
}
.abt-right button{
    padding: 10px;
    background-color: #ff2b85;
    border: 1px solid #ff2b85;
    border-radius: 30px;
    font-weight: 600;
    color: white;
    font-size: 15px;
    width: 150px;
    height: 42px;
}

button:hover{
    background-color: #ED66A0;
    cursor: pointer;
}

/* Convinecnce */
.conv-icon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.conv{
    display: flex;
    padding-top: 140px;
    gap: 60px;
}
.conv-left h2{
     font-size: 40px;
    font-family: poppins;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 20px;
    padding-top: 50px;
}
.conv-left p{
    font-size: 18px;
    font-family: poppins;
    padding-bottom: 20px;
}
.conv-left{
    margin-left: 50px;
}
/* Job */
.job{
    display: flex;
    gap: 60px;
    padding-top: 130px;
}